<section class="sessions-show">

  <header class="page-header">
    <h1>
      Login
    </h1>
  </header>

  <div class="container">
    <%= form_tag '/login' do %>
      Email: <%= text_field_tag :email %>
      <br>
      <br>
      Password: <%= password_field_tag :password %>
      <br>
      <br>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>

</section>
