<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Thank you for your order!</h1>
  <p>
    The following order has been placed successfully:
  </p>
  <ul>
    <% @order.line_items.each do |i| %>
    <li>
      <%=i.product.name%>
      <br>
      <%=i.quantity%> @ <%= i.total_price %>
    </li>
    <br>
    <% end %>
  </ul>
  <p>Grand Total: $ <%= @order.total %></p>
  <p>Have an awesome day!</p>
  <p>- Your friends at Junglecorp Inc.</p>
</body>
</html>
