<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to jungle.com, <%= @user.firstname %></h1>
  <p>
    You have successfully registered for Jungle.com,
    your login is: <%= @user.email %>.<br>
  </p>
  <p>Have an awesome day!</p>
  <p>- Your friends at Junglecorp Inc.</p>
</body>
</html>
